.card-container{
  margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.table-container {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.table-container h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #1a237e;
}
/* .App{
  margin: 10px;
  gap: 20px;
} */